body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Arial, Helvetica, sans-serif;
  background-color: rgb(228, 228, 228);
  margin: 0;
  padding: 0;
}

#container1 {
  background-color: rgb(36, 36, 155);
  text-align: center;
  padding-top: 15px;
}

.headH1 {
  color: white;
  text-align: center;
}

#container2 {
  text-align: center;
  padding-bottom: 10px;
}

.link {
  padding: 10px 20px 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#About {
  text-align: center;
}

table,
td {
  border: 1px solid rgb(1, 1, 175);
  border-collapse: collapse;
  text-align: center;
}

table {
  width: 700px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
}

.cell {
  color: rgb(243, 238, 238);
  background-color: blue;
  height: 40px;
}

.button {
  height: 40px;
}

#button {
  width: 300px;
  height: 30px;
  background-color: rgb(0, 0, 153);
  color: rgb(245, 245, 245);
}

h1 {
  text-align: center;
}

td {
  text-align: center;
}

.pro {
  text-align: center;
}

li {
  text-align: center;
  border: 1px solid rgb(225, 134, 124);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin: 15px auto;
  padding: 20px;
  width: 80%;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
  margin: 10px;
}

img {
  border-radius: 50%;
  margin: auto;
  width: 330px;
  height: 310px;
}

footer {
  color: rgb(248, 244, 240);
  padding-top: 10px;
  background-color: blue;
  height: 50px;
}

#back-to-top {
  background-color: rgb(2, 2, 197);
  margin-left: 88%;
  padding: 20px 40px 20px 40px;
  width: 200px;
  color: rgb(250, 247, 242);
  text-align: center;
  margin-bottom: 10px;
}

#back-to-top:hover,
#button:hover,
a:hover {
  background-color: rgb(67, 141, 202);
  text-decoration: solid;
}

form {
  text-align: left;
}

section {
  text-align: center;
}
